* {
    margin:  0;
    border : 0; 
} 


.inter  {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

header {
    background-color: #FFFF;
}
nav {
    max-width: 1600px;
    justify-content : space-between; 
      
    display: flex;
    
    margin: 0px auto;
    padding : 10px ;
    border: 2px solid teal; 
    align-items: center;
}
.link-parent {
    display: flex;
    gap : 32px ;
    list-style: none;
}
.link-parent  a {
    text-decoration: none;

}
.link-parent li {
    font-size: 16px;
    font-weight: medium;
    
    
}
nav button {
    color: #FFFF;
    background-color: #30B868 ;
    padding: 12px 16px;
    border-radius: 4px;
}
#banner  {
    background-image: url("./B13-A01-Knowledge-Vault/assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size : cover;
    height :800px; 
     
    
}
.banner-container h1  {
    font-size: 60px;
    
    
}
.banner-container {
    
    width: 1360px;
    height: 379px;
    margin: 0 auto;
    
    text-align: center;
    padding-top: 154px;
    


}
#banner button {
    color: #FFFF;
    background-color: #30B868 ;
    padding: 12px 16px;
    border-radius: 4px;
}
#banner .btn2 {
    color: #30B868;
    background-color: #FFFF ;
    padding: 12px 16px;
   
    border-radius: 20px;
}
.banner-live-button {
    padding-bottom: 16px;
}
.banner-heading h1 {
    font-size: 71px;
    line-height: 84px;
    padding-bottom: 16px;
    
}
.banner-info p {
    color: white;
    
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 16px;

}

.green { 
    color: #30B868;
}
.white {
    color: white;
}
.information-container {
    max-width: 1360px;
    margin: 0 auto;
}
.information-card {
    margin-top: 44px;
    max-width: 322px;
    border: 1px solid teal;
}  
.section-header { 
    padding-top: 60px;
    text-align: center;
    margin-bottom: 44px;
} 
.section-header h1 {
    font-size: 48px ;
    color: #001931;
    margin-bottom: 16px;
    /* line-height: 58px; */

}
.section-header h4 {
    font-size: 16px;
    color: #627382;
}
.information-card {
    max-width: 322px;
    
    
    
}

.information-card h3 {
    font-size: 24px;
    line-height: 29px;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;
}
.information-card p {
    color: #627382;
    text-align: center;
}
.information-card img {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
}
.information-card-container {
    
    display: flex;
    gap: 24px ;
}

